# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## <font color='blue'>Projeto 1</font>
## <font color='blue'>Banco Relacional, Python e SQL Para Análise de Dados</font>

## Instalando e Carregando os Pacotes

In [15]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.20

In [16]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

In [17]:
#!pip install -q -U pandas==1.2.4

In [18]:
# Instala o pacote iPython-sql 
# https://pypi.org/project/ipython-sql/
!pip install -q ipython-sql

In [19]:
# Imports
import pandas as pd
import sqlite3

In [20]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

platform  : 1.0.8
pandas    : 1.2.4
numpy     : 1.24.4
sqlite3   : 2.6.0
IPython   : 8.12.2
sys       : 3.8.20 (default, Oct  3 2024, 15:19:54) [MSC v.1929 64 bit (AMD64)]
ipywidgets: 8.1.2
json      : 2.0.9

## Banco Relacional, Python e SQL Para Análise de Dados

In [22]:
# Cria um dataframe
dados = pd.DataFrame({'nome': ['Siri', 'Alexa', 'Cortana'],
                      'idade': [28, 47, 24],
                      'cargo': ['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']})

In [23]:
dados.head()

      nome  idade                cargo
0     Siri     28    Analista de Dados
1    Alexa     47   Cientista de Dados
2  Cortana     24  Engenheiro de Dados

In [24]:
# Apaga o banco de dados
#!del dbprojeto1.db

#rm 'database/dbprojeto1.db'

In [58]:
# Criamos a conexão a um banco de dados SQLite
cnn = sqlite3.connect('database/dbprojeto1.db')

In [60]:
# Copia o dataframe para dentro do banco de dados como uma tabela
dados.to_sql('funcionarios', cnn)

ValueError: Table 'funcionarios' already exists.

In [ ]:
# Carregamos a extensão SQL
%load_ext sql

In [ ]:
# Definimos o banco de dados
%sql sqlite:///database/dbprojeto1.db

> Agora executamos nossas consultas SQL usando diretamente Linguagem SQL dentro do Jupyter Notebook.

In [ ]:
%%sql
SELECT * FROM funcionarios

In [ ]:

%%sql

SELECT count (*) FROM funcionarios

In [ ]:
%%sql

SELECT count(*) FROM funcionarios

In [ ]:
%%sql

SELECT avg(idade) as 'idade_media' FROM funcionarios

## Banco Relacional, Python e SQL Para Análise de Dados

Temos em mãos um arquivo com dados de pacientes que desenvolveram ou não diabetes. Precisamos gerar uma amostra de dados com os pacientes com mais de 50 anos e para cada um deles indicar em uma nova coluna se o paciente está normal (BMI menor que 30) ou obeso (BMI maior ou igual a 30). Então devemos gerar um novo arquivo CSV e encaminhar para o Cientista de Dados.

In [ ]:
df = pd.read_csv('dataset/diabetes.csv')

In [ ]:
type(df)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
# Copia o dataframe para dentro do banco de dados como uma tabela
df.to_sql('diabetes', cnn)

In [ ]:
%%sql

SELECT count(*) FROM diabetes

In [ ]:
%%sql

SELECT Age, Glucose, Outcome FROM diabetes WHERE Glucose > 190

In [ ]:
df.columns

In [ ]:
%%sql

CREATE TABLE pacientes (Pregnancies INT,
                        Glucose INT,
                        BloodPressure INT,
                        SkinThickness INT,
                        Insulin INT,
                        BMI DECIMAL(8, 2),
                        DiabetesPedigreeFunction DECIMAL(8, 2),
                        Age INT,
                        Outcome INT);

In [ ]:
%%sql

SELECT * FROM pacientes

In [ ]:
%%sql

INSERT INTO pacientes(Pregnancies, 
                      Glucose, 
                      BloodPressure, 
                      SkinThickness, 
                      Insulin, 
                      BMI, 
                      DiabetesPedigreeFunction, 
                      Age, 
                      Outcome) 
SELECT Pregnancies, 
       Glucose, 
       BloodPressure, 
       SkinThickness, 
       Insulin, 
       BMI, 
       DiabetesPedigreeFunction, 
       Age, 
       Outcome 
FROM diabetes WHERE Age > 50;

In [ ]:
%%sql

SELECT * FROM pacientes

In [ ]:
%%sql 

ALTER TABLE pacientes
ADD Perfil VARCHAR(10);

In [ ]:
%%sql

SELECT * FROM pacientes

In [ ]:
%%sql

UPDATE pacientes
SET Perfil = 'Normal'
WHERE BMI < 30;

In [ ]:
%%sql

SELECT * FROM pacientes

In [ ]:
%%sql

UPDATE pacientes
SET Perfil = 'Obeso'
WHERE BMI >= 30;

In [ ]:
%%sql

SELECT * FROM pacientes

## Carregando os Dados no Pandas e Salvando o CSV

In [ ]:
# Query
query = cnn.execute("SELECT * FROM pacientes")
query

In [ ]:
# List Comprehension
cols = [coluna[0] for coluna in query.description]
cols

In [ ]:
# Gera o dataframe
resultado = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [ ]:
# Shape
resultado.shape

In [ ]:
# Visualiza
resultado.head()

In [ ]:
# Salva em CSV
resultado.to_csv('dataset/pacientes.csv', index = False)

# Fim